<%- include('layouts/_header')%>
<%- include('layouts/_nav-menu')%>
<div class="container-fluid">
    <form action="/stock/search" method="get">
        <div class="row m-4">
            <div class="col-md-2">
                <select class="form-select" name="symbol">
                    <option value="BTCUSDT">BTCUSDT</option>
                    <option value="LTCBTC">LTCBTC</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select " name="interval">
                    <option value="1s">1S</option>
                    <option value="1m">1M</option>
                    <option value="1d">1D</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>
<%- include('layouts/_footer')%>
